.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.naocare-div {
  display: flex;
  margin-top: 4%;
}

.naocare {
  width: 15%;
  margin-left: 14%;
}

img {
  width: 350px;
}

.naocare h1 {
  color: #c30b0b;
}

#homepagenav {
  color: white;
  margin-left: 45%;
  font-size: 27px;
}

#sortpagenav {
  margin-right: 45%;
  font-size: 27px;
  color: white;
}